*{
    color: #FFFFFF;
}
main{
    margin-top: 3vh;
}
h2{
    width: 80vw;
    font-size: 1.2rem;
}
.como-funciona,.fase-um,.fase-dois,.fase-tres,.fase-quatro{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}
.Img-Mapa{
    width: 20vh;
}
.Lixeira-1{
    width: 25vh;
}
.img-fase-dois,.img-fase-tres{
    width: 46vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.transporte{
    width: 16vh;
}
.Boneco-menor{
    width: 5vh;
}
.img-fase-quatro-metro,.img-fase-quatro-onibus{
    width: 46vh;
    display: flex;
    justify-content: space-around;
}