main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(161, 255, 197, 0.3);
    border-radius: 20px;
    width: 90vw;
    padding-bottom: 2vh;
}
h1{
    font-size: 6vw;
    color: #A1FFC5;
}
h2{
    font-size: 5vw;
    color: rgba(161, 255, 197, 0.5);;
}
form label,form input,select{
    display: block;
}
input,select{
    width: 61vw;
    height: 6vw;
    border-radius: 5px;
}
select{
    width: 62vw;
    height: 7vw;
}
label{
    color: #A1FFC5;
}
.input-mensagem{
    text-align: left;
    height: 20vw;
    width: 61vw;
    border-radius: 5px;
}
.enviar{
    margin-top: 10px;
    background-color:  #39A366;
    font-weight: bold;
    margin-top: 10px;
    color: #A1FFC5;
}
.confirma-envio{
    display: none;
}
.confirma-envio-sucesso{
display: block;
}
@media screen and (min-width:700px){
    .form{
        width: 90vw;
        margin-top: 20vw;
    }
    input,select{
        width: 80vw;
        height: 6vw;
        border-radius: 5px;
        font-size: 1.2rem;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .input-mensagem{
        width: 80vw;
    }
}
@media screen and (min-width:1024px){
    .form{
        width: 70vw;
        margin-top: 20vh;
    }
    input,select{
        width: 40vw;
        height: 3vw;
        border-radius: 5px;
        font-size: 1.2rem;
    }
    label{
        font-size: 1.2rem;
    }
    .input-mensagem{
        height: 15vw;
        width: 40vw;
    }
    h1,h2{
        font-size: 2rem;
    }
}
