main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(161, 255, 197, 0.3);
    border-radius: 20px;
    width: 90vw;
    padding-bottom: 2vh;
}
h1{
    font-size: 6vw;
    color: #A1FFC5;
}
h2{
    font-size: 5vw;
    color: rgba(161, 255, 197, 0.5);;
}
form label,form input,select{
    display: block;
}
input,select{
    width: 61vw;
    height: 6vw;
    border-radius: 5px;
}
select{
    width: 62vw;
    height: 7vw;
}
label{
    color: #A1FFC5;
}
.input-mensagem{
    text-align: left;
    height: 20vw;
    width: 61vw;
    border-radius: 5px;
}
.enviar{
    margin-top: 10px;
    background-color:  #39A366;
    font-weight: bold;
    margin-top: 10px;
    color: #A1FFC5;
}
}