*{
    font-family: 'Kanit', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background:url(assets/background-mobile.svg);
    overflow-x: hidden;
}
header{
    height: 15vw;
}
.logo{
    width: 100%;
}
.header-mobile{
    margin: 0;
    height: 13vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.menu-lateral{
    display: flex;
    position: absolute;
    transition: 1s;
    width: 100vw;
    height: 35vh;
    background-color: #6DD196;
    border-radius: 10px;
    transition: 0.50s;
    top: -100vh;
    flex-direction: column;
    font-size: 2.5vh;
    row-gap: 10px;
}
.menu-arrumacao{
    width: 200px;
    height: 174.6px;
    display: flex;
    flex-direction: column;
}
.menuarrumacao-pai{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Nossa-ideia a{
    padding-left: 8px;
}
.menu-lateral-ativo{
    font-weight: bold;
    transition: 0.50s;
    top: 0vh;
}
 .Sair-menu{
    width: 3vh;
    align-self: flex-end;
}
.Logo-nav{
    width: 37vw;
    align-self: center;
}
.Como-Funciona a{
    margin-left: 1.2vh;
}
.img-pessoas{
    width: 3vh;
}
.img-ideia{
    width: 2vh;
}
.img-contato{
    width: 2.8vh;
}
.img-interrogacao{
    width: 1.5vh;
}
.img-simulador{
    width: 2.5vh;
}
.Simulador a{
    margin-left: 0.3vh;
}
.header-desktop{
    display: none;
}
strong{
    font-weight: bold;
}
@media screen and (min-width:1024px){
    body{
        background: url(assets/background-desktop.svg);
    }
    .header-mobile{
        display: none;
    }
    .header-desktop{
        display: block;
    }
    header{
        height: 15vh;
    }
    .header-desktop ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 2rem;
        align-items:center;
    }.header-desktop li{
        display: flex;
        align-items: center;
        transition: 0.5s;
    }
    .header-desktop a{
        transition: 0.5s;
    }
    .header-desktop a:hover{
        color: #6DD196;
        transition: 0.5s;
    }
    .header-desktop img{
        width: 10vw;
    }
    .header-desktop li{
        height: 10vh;
    }
    .parte1-main,.parte2-main{
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-around;
        align-items: flex-start;
    }
    .parte1-main img{
        width: 14vw;
    }
    .parte1-main h2{
        width: 40vw;
        font-size: 3rem;
        text-align: left;
    }
    strong{
        color: #A1FFC5;
        font-weight: bold;
    }
    .parte2-main{
        display: none;
    }
}