.conteudo{
    display: flex;
    flex-direction: column;
    row-gap: 7vw;
    margin-top: 4vh;
}
.Pessoas{
    display: flex;
    color: #FFFFFF;
}
.h2-conteudo{
    text-align: center;
    width: 13vh;
    
}
.ulconteudo{
    display: inline;
}
.img-conteudo{
    width: 24vw;
}
.h2-conteudo{
    font-size: 2.5vh;
}
.img-h2{
    width:13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ulconteudo{
    margin-left: 2vw;
    font-size:14px;
    font-weight:600;
    text-align: left;
}
.li-conteudo{
    margin-top: 0.7vh;
}
.li-conteudo::before{
    content: "📗";
}
.li-conteudo a{
    color: #00288c;
}
@media screen and (min-width:1024px) {
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .conteudo{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 100px;
        width: 90vw;
        padding-bottom: 20px;
    }
    .Pessoas{
        display: flex;
        flex-direction: column;
    }
    .img-conteudo{
        width: 8vw;
    }
    .img-h2{
        flex-direction: column;
        width:34vh;
    }
    .ulconteudo{
        margin-left: 0;
        margin-top: 20px;
    }
}