main{
    padding-top: 7vw;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.mockup-iphone{
    width:50%;
    align-self: center;
}
.lixeira{
    width:56%;
}