body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(#39A366,#87E8AD);
    font-family: 'Kanit', sans-serif;

}
.logo{
    width: 100%;
}
header{
    margin: 0;
    height: 13vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.menu-lateral{
  display: flex;
  position: absolute;
    transition: 1s;
    width: 100vw;
    height:30vh;
    background-color: #6DD196;
    border-radius: 10px;
    transition: 0.50s;
    top: -100vh;
   flex-direction: column;
   font-size: 2.5vh;
}
.menu-lateral-ativo{
    font-weight: bold;
    transition: 0.50s;
    top: 0vh;
}
 .Sair-menu{
    width: 3vh;
    align-self: flex-end;
}
.Logo-nav{
    width: 37vw;
    align-self: center;
}
